<!-- Top Bar START -->
<div id="palleon-top-bar">
    <!-- Logo -->
    <div class="palleon-logo" style="padding:3px 20px">
        <img class="logo-desktop" src="{{ url_for('static', filename='assets/botxbyte-logo-white.svg') }}" style="height:45px" />
        <img class="logo-mobile" src="{{ url_for('static', filename='assets/logo-small.png') }}" />
    </div>
    <!-- Menu -->
    <div class="palleon-top-bar-menu">
        <!-- History -->
        <div>
            File Name:
            <input id="palleon-json-save-name" class="palleon-form-field palleon-file-name" type="text" value="" autocomplete="off" data-default="">
        </div>
        <div class="palleon-undo">
            <button id="palleon-undo" type="button" class="palleon-btn-simple tooltip" data-title="Undo" autocomplete="off" disabled><span class="material-icons">undo</span></button>
        </div>
        <div class="palleon-redo">
            <button id="palleon-redo" type="button" class="palleon-btn-simple tooltip" data-title="Redo" autocomplete="off" disabled><span class="material-icons">redo</span></button>
        </div>
        <div class="palleon-history">
            <button id="palleon-history" type="button" class="palleon-btn-simple palleon-modal-open tooltip" data-title="History" autocomplete="off" data-target="#modal-history" disabled><span class="material-icons">history</span></button>
        </div>
        <!-- New -->
        <div class="palleon-new">
            <button id="palleon-new" type="button" class="palleon-btn primary palleon-modal-open" autocomplete="off" data-target="#modal-add-new"><span class="material-icons">add_circle</span><span class="palleon-btn-text">New</span></button>
        </div>
        <!-- Save -->
        <div class="palleon-save">
            <button id="palleon-json-save" type="button" class="palleon-btn primary"><span class="material-icons">save</span>Save As Template</button>
        </div>
        <!-- User Menu -->
        <div class="palleon-user-menu">
            <div id="palleon-user-menu" class="palleon-dropdown-wrap">
                <img alt="avatar" src='{{ url_for('static', filename='assets/avatar.png') }}' /><span class="material-icons">arrow_drop_down</span>
                <div class="menu-menu-container">
                    <ul id="palleon-be-menu" class="palleon-dropdown">
                        <li><a href="https://palleon.website/js-version/">Home</a></li>
                        <li><a href="https://palleon.website/js-version/documentation/index.html">Documentation</a></li>
                        <li><a href="https://codecanyon.net/item/palleon-javascript-image-editor/43256130">Buy Now!</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar END -->
