<!-- Drawing START -->
<div id="palleon-draw" class="palleon-icon-panel-content panel-hide">
    <!-- Start Drawing Button -->
    <div class="palleon-btn-set">
        <button id="palleon-draw-btn" type="button" class="palleon-btn primary palleon-lg-btn"><span class="material-icons">edit</span>Start Drawing</button>
        <button id="palleon-draw-undo" type="button" class="palleon-btn palleon-lg-btn" autocomplete="off" title="Undo" disabled><span class="material-icons">undo</span></button>
    </div>
    <!-- Drawing Setings -->
    <div id="palleon-draw-settings" class="palleon-sub-settings">
        <div class="notice notice-info">You can draw a straight line by pressing the shift key.</div>
        <div class="palleon-control-wrap">
            <label class="palleon-control-label">Brush Type</label>
            <div class="palleon-control">
                <select id="palleon-brush-select" class="palleon-select" autocomplete="off">
                    <option value="pencil" selected>Pencil</option>
                    <option value="circle">Circle</option>
                    <option value="spray">Spray</option>
                    <option value="hline">H-line Pattern</option>
                    <option value="vline">V-line Pattern</option>
                    <option value="square">Square Pattern</option>
                    <option value="erase">Erase BG Image</option>
                </select>
            </div>
        </div>
        <div class="palleon-control-wrap">
            <label class="palleon-control-label">Brush Width</label>
            <div class="palleon-control">
                <input id="brush-width" class="palleon-form-field numeric-field" type="number" value="50" autocomplete="off" data-min="1" data-max="1000" data-step="1">
            </div>
        </div>
        <div id="palleon-brush-pattern-width" class="palleon-control-wrap">
            <label class="palleon-control-label">Pattern Width</label>
            <div class="palleon-control">
                <input id="brush-pattern-width" class="palleon-form-field numeric-field" type="number" value="10" autocomplete="off" data-min="1" data-max="1000" data-step="1">
            </div>
        </div>
        <div id="palleon-brush-pattern-distance" class="palleon-control-wrap">
            <label class="palleon-control-label">Pattern Distance</label>
            <div class="palleon-control">
                <input id="brush-pattern-distance" class="palleon-form-field numeric-field" type="number" value="5" autocomplete="off" data-min="1" data-max="1000" data-step="1">
            </div>
        </div>
        <div id="not-erase-brush">
            <div class="palleon-control-wrap control-text-color">
                <label class="palleon-control-label">Brush Color</label>
                <div class="palleon-control">
                    <input id="brush-color" type="text" class="palleon-colorpicker allow-empty" autocomplete="off" value="#ffffff" />
                </div>
            </div>
            <div class="palleon-control-wrap conditional">
                <label class="palleon-control-label">Brush Shadow</label>
                <div class="palleon-control palleon-toggle-control">
                    <label class="palleon-toggle">
                        <input id="palleon-brush-shadow" class="palleon-toggle-checkbox" data-conditional="#line-shadow-settings" type="checkbox" autocomplete="off" />
                        <div class="palleon-toggle-switch"></div>
                    </label>
                </div>
            </div>
            <div id="line-shadow-settings" class="d-none conditional-settings">
                <div class="palleon-control-wrap">
                    <label class="palleon-control-label">Blur</label>
                    <div class="palleon-control">
                        <input id="brush-shadow-width" class="palleon-form-field" type="number" value="5" data-min="0" data-max="1000" step="1" autocomplete="off">
                    </div>
                </div>
                <div class="palleon-control-wrap">
                    <label class="palleon-control-label">Offset X</label>
                    <div class="palleon-control">
                        <input id="brush-shadow-shadow-offset-x" class="palleon-form-field" type="number" value="5" data-min="0" data-max="100" step="1" autocomplete="off">
                    </div>
                </div>
                <div class="palleon-control-wrap">
                    <label class="palleon-control-label">Offset Y</label>
                    <div class="palleon-control">
                        <input id="brush-shadow-shadow-offset-y" class="palleon-form-field" type="number" value="5" data-min="0" data-max="100" step="1" autocomplete="off">
                    </div>
                </div>
                <div class="palleon-control-wrap control-text-color">
                    <label class="palleon-control-label">Color</label>
                    <div class="palleon-control">
                        <input id="brush-shadow-color" type="text" class="palleon-colorpicker allow-empty" autocomplete="off" value="#000000" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Drawing END -->
