<!-- Frames START -->
<div id="palleon-frames" class="palleon-icon-panel-content panel-hide">
    <div class="palleon-tabs">
        <!-- Frames Menu -->
        <ul class="palleon-tabs-menu">
            <li class="active" data-target="#palleon-all-frames">All</li>
            <li data-target="#palleon-frame-favorites">My Favorites</li>
            <li data-target="#palleon-frame-options">Settings</li>
        </ul>
        <!-- All Frames -->
        <div id="palleon-all-frames" class="palleon-tab active">
            <div class="palleon-search-wrap">
                <input id="palleon-frame-search" type="search" class="palleon-form-field" placeholder="Search Category..." autocomplete="off" />
                <span id="palleon-frame-search-icon" class="material-icons">search</span>
            </div>
            <ul id="palleon-frames-wrap" class="palleon-accordion">
                <li data-keyword="grunge"><a href="#">Grunge<span class="data-count">12</span><span
                            class="material-icons arrow">keyboard_arrow_down</span></a>
                    <div>
                        <div id="palleon-frames-grid-grunge" class="palleon-frames-grid paginated" data-perpage="4">
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/grunge/1.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/grunge/1.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="grunge/1"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/grunge/2.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/grunge/2.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star favorited" data-frameid="grunge/2"><span class="material-icons">star</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/grunge/3.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/grunge/3.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="grunge/3"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/grunge/4.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/grunge/4.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="grunge/4"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/grunge/5.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/grunge/5.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="grunge/5"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/grunge/6.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/grunge/6.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="grunge/6"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/grunge/7.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/grunge/7.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="grunge/7"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/grunge/8.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/grunge/8.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="grunge/8"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/grunge/9.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/grunge/9.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="grunge/9"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/grunge/10.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/grunge/10.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="grunge/10"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/grunge/11.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/grunge/11.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="grunge/11"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/grunge/12.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/grunge/12.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="grunge/12"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li data-keyword="grunge-square"><a href="#">Grunge - Square<span
                            class="data-count">6</span><span
                            class="material-icons arrow">keyboard_arrow_down</span></a>
                    <div>
                        <div id="palleon-frames-grid-grunge-square" class="palleon-frames-grid paginated" data-perpage="4">
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/grunge-square/1.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/grunge-square/1.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="grunge-square/1"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/grunge-square/2.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/grunge-square/2.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="grunge-square/2"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/grunge-square/3.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/grunge-square/3.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="grunge-square/3"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/grunge-square/4.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/grunge-square/4.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="grunge-square/4"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/grunge-square/5.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/grunge-square/5.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="grunge-square/5"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/grunge-square/6.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/grunge-square/6.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="grunge-square/6"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li data-keyword="business"><a href="#">Business<span class="data-count">8</span><span
                            class="material-icons arrow">keyboard_arrow_down</span></a>
                    <div>
                        <div id="palleon-frames-grid-business" class="palleon-frames-grid paginated" data-perpage="4">
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/business/1.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/business/1.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="business/1"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/business/2.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/business/2.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="business/2"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/business/3.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/business/3.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="business/3"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/business/4.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/business/4.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="business/4"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/business/5.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/business/5.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="business/5"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/business/6.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/business/6.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="business/6"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/business/7.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/business/7.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="business/7"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/business/8.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/business/8.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="business/8"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li data-keyword="bohemian"><a href="#">Bohemian<span class="data-count">10</span><span
                            class="material-icons arrow">keyboard_arrow_down</span></a>
                    <div>
                        <div id="palleon-frames-grid-bohemian" class="palleon-frames-grid paginated" data-perpage="4">
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/bohemian/1.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/bohemian/1.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star favorited" data-frameid="bohemian/1"><span class="material-icons">star</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/bohemian/2.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/bohemian/2.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="bohemian/2"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/bohemian/3.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/bohemian/3.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="bohemian/3"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/bohemian/4.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/bohemian/4.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="bohemian/4"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/bohemian/5.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/bohemian/5.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="bohemian/5"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/bohemian/6.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/bohemian/6.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="bohemian/6"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/bohemian/7.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/bohemian/7.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="bohemian/7"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/bohemian/8.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/bohemian/8.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="bohemian/8"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/bohemian/9.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/bohemian/9.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="bohemian/9"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/bohemian/10.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/bohemian/10.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="bohemian/10"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li data-keyword="abstract"><a href="#">Abstract<span class="data-count">6</span><span
                            class="material-icons arrow">keyboard_arrow_down</span></a>
                    <div>
                        <div id="palleon-frames-grid-abstract" class="palleon-frames-grid paginated" data-perpage="4">
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/abstract/1.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/abstract/1.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star favorited" data-frameid="abstract/1"><span class="material-icons">star</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/abstract/2.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/abstract/2.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="abstract/2"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/abstract/3.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/abstract/3.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="abstract/3"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/abstract/4.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/abstract/4.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="abstract/4"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/abstract/5.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/abstract/5.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="abstract/5"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/abstract/6.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/abstract/6.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="abstract/6"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li data-keyword="floral"><a href="#">Floral<span class="data-count">5</span><span
                            class="material-icons arrow">keyboard_arrow_down</span></a>
                    <div>
                        <div id="palleon-frames-grid-floral" class="palleon-frames-grid paginated" data-perpage="4">
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/floral/1.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/floral/1.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="floral/1"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/floral/2.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/floral/2.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="floral/2"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/floral/3.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/floral/3.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="floral/3"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/floral/4.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/floral/4.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="floral/4"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/floral/5.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/floral/5.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="floral/5"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li data-keyword="neon"><a href="#">Neon<span class="data-count">4</span><span
                            class="material-icons arrow">keyboard_arrow_down</span></a>
                    <div>
                        <div id="palleon-frames-grid-neon" class="palleon-frames-grid paginated" data-perpage="4">
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/neon/1.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/neon/1.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="neon/1"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/neon/2.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/neon/2.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="neon/2"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/neon/3.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/neon/3.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="neon/3"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/neon/4.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/neon/4.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="neon/4"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li data-keyword="winter"><a href="#">Winter<span class="data-count">3</span><span
                            class="material-icons arrow">keyboard_arrow_down</span></a>
                    <div>
                        <div id="palleon-frames-grid-winter" class="palleon-frames-grid paginated" data-perpage="4">
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/winter/1.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/winter/1.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="winter/1"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/winter/2.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/winter/2.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="winter/2"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/winter/3.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/winter/3.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="winter/3"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li data-keyword="halloween"><a href="#">Halloween<span class="data-count">2</span><span
                            class="material-icons arrow">keyboard_arrow_down</span></a>
                    <div>
                        <div id="palleon-frames-grid-halloween" class="palleon-frames-grid paginated" data-perpage="4">
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/halloween/1.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/halloween/1.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="halloween/1"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/halloween/2.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/halloween/2.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="halloween/2"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li data-keyword="cute"><a href="#">Cute<span class="data-count">7</span><span
                            class="material-icons arrow">keyboard_arrow_down</span></a>
                    <div>
                        <div id="palleon-frames-grid-cute" class="palleon-frames-grid paginated" data-perpage="4">
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/cute/1.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/cute/1.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="cute/1"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/cute/2.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/cute/2.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="cute/2"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/cute/3.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/cute/3.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="cute/3"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/cute/4.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/cute/4.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="cute/4"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/cute/5.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/cute/5.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="cute/5"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/cute/6.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/cute/6.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="cute/6"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/cute/7.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/cute/7.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="cute/7"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li data-keyword="watercolor"><a href="#">Watercolor<span class="data-count">3</span><span
                            class="material-icons arrow">keyboard_arrow_down</span></a>
                    <div>
                        <div id="palleon-frames-grid-watercolor" class="palleon-frames-grid paginated" data-perpage="4">
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/watercolor/1.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/watercolor/1.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="watercolor/1"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/watercolor/2.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/watercolor/2.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="watercolor/2"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/watercolor/3.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/watercolor/3.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="watercolor/3"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li data-keyword="love"><a href="#">Love<span class="data-count">2</span><span
                            class="material-icons arrow">keyboard_arrow_down</span></a>
                    <div>
                        <div id="palleon-frames-grid-love" class="palleon-frames-grid paginated" data-perpage="4">
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/love/1.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/love/1.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="love/1"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/love/2.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/love/2.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="love/2"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li data-keyword="others"><a href="#">Others<span class="data-count">1</span><span
                            class="material-icons arrow">keyboard_arrow_down</span></a>
                    <div>
                        <div id="palleon-frames-grid-others" class="palleon-frames-grid paginated" data-perpage="4">
                            <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/others/1.svg') }}">
                                <div class="palleon-img-wrap">
                                    <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/others/1.jpg') }}" />
                                </div>
                                <div class="frame-favorite">
                                    <button type="button" class="palleon-btn-simple star " data-frameid="others/1"><span class="material-icons">star_border</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Frames Favorites -->
        <div id="palleon-frame-favorites" class="palleon-tab">
            <div class="palleon-frames-grid">
                <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/abstract/1.svg') }}">
                    <div class="palleon-img-wrap">
                        <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/abstract/1.jpg') }}" />
                    </div>
                    <div class="frame-favorite">
                        <button type="button" class="palleon-btn-simple star favorited" data-frameid="abstract/1"><span class="material-icons">star</span></button>
                    </div>
                </div>
                <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/bohemian/1.svg') }}">
                    <div class="palleon-img-wrap">
                        <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/bohemian/1.jpg') }}" />
                    </div>
                    <div class="frame-favorite">
                        <button type="button" class="palleon-btn-simple star favorited" data-frameid="bohemian/1"><span class="material-icons">star</span></button>
                    </div>
                </div>
                <div class="palleon-frame" data-elsource="{{ url_for('static', filename='files/frames/grunge/2.svg') }}">
                    <div class="palleon-img-wrap">
                        <div class="palleon-img-loader"></div><img class="lazy" data-src="{{ url_for('static', filename='files/frames/grunge/2.jpg') }}" />
                    </div>
                    <div class="frame-favorite">
                        <button type="button" class="palleon-btn-simple star favorited" data-frameid="grunge/2"><span class="material-icons">star</span></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Frames Options -->
        <div id="palleon-frame-options" class="palleon-tab">
            <div class="palleon-control-wrap label-block">
                <div class="palleon-control">
                    <div class="palleon-btn-group icon-group">
                        <button id="palleon-rotate-right-frame" type="button" class="palleon-btn tooltip" data-title="Rotate Right"><span class="material-icons">rotate_right</span></button>
                        <button id="palleon-rotate-left-frame" type="button" class="palleon-btn tooltip" data-title="Rotate Left"><span class="material-icons">rotate_left</span></button>
                        <button id="palleon-flip-horizontal-frame" type="button" class="palleon-btn tooltip" data-title="Flip X"><span class="material-icons">flip</span></button>
                        <button id="palleon-flip-vertical-frame" type="button" class="palleon-btn tooltip" data-title="Flip Y"><span class="material-icons">flip</span></button>
                    </div>
                </div>
            </div>
            <div class="palleon-control-wrap label-block">
                <label class="palleon-control-label">Fill Color</label>
                <div class="palleon-control">
                    <input id="palleon-frame-color" type="text" class="palleon-colorpicker allow-empty" autocomplete="off" value="" />
                    <div class="palleon-control-desc">May not work properly on multi-color frames.</div>
                </div>
            </div>
        </div>
    </div>
    <div id="palleon-noframes" class="notice notice-warning">Nothing found.</div>
</div>
<!-- Frames END -->
